<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">Opções</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nome }}</td>
        <td><a href="mailto:{{ cliente.email }}">{{ cliente.email }}</a></td>
        <td>
          <button class="btn btn-info" (click)="editar(cliente.id)"><i class="fa fa-edit"></i></button>
          <button class="btn btn-danger" (click)="excluir(cliente.id)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
